<div class="component"
     (keyup.enter)="signIn()">

    <div class="form-wrapper">

        <div class="form">

            <div class="logo-wrapper">
                SOLAR COMPANY LOGO
            </div>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput
                       [(ngModel)]="username"
                       placeholder="Enter Your Email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput
                       type="password"
                       [(ngModel)]="password"
                       placeholder="Enter Your Password">
            </mat-form-field>

            <div class="login-btn-wrapper">
                <button (click)="signIn()"
                        [disabled]="!isCanSignIn()"
                        mat-flat-button
                        color="primary">
                    Sign In
                </button>
            </div>

            <div class="actions">
                <div>
                    Don’t have an account?
                    <span class="link"
                          (click)="signUp()">
                        Sign Up
                    </span>
                </div>
                <div>
                    <div>
                        <span class="link"
                              (click)="forgotPassword()">
                            Forgot Password
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
