<div class="component"
     [class.hide-layout]="mode == 'Mounting'">
    <div class="sidebar">
        <app-rooftop-sidebar [instance]="instance"
                             [project]="project"
                             [(mode)]="mode"></app-rooftop-sidebar>
    </div>
    <div class="layout">
        <websolar-rooftop-layout [project]="project"
                                 [objects]="objects"
                                 [toolbar]="true"
                                 (instanceReady)="onInstanceReady($event)"></websolar-rooftop-layout>
    </div>
</div>

<div class="loading-wrapper"
     *ngIf="isLoading">
    <websolar-loading></websolar-loading>
</div>
