$color-primary: #3a4b79;

$color-sidemenu-header: #3a4b79;
$color-sidemenu-header-btn: white;

$color-grey: #d0d0d0;
$color-lite-grey: #fafafa;
$color-text-grey: #5c6873;
$color-dark-grey: #535767;

$color-black: #04263e;

$color-highlight-blue: #f4f9fd;

$color-border: #e4e4e4;

$color-success: #46bc41;

$color-blue: #3a4b79;

$color-error: #f84040;

$color-danger: #f19c9c;

$color-white: #ffffff;

$color-black: #000000;

$color-alert: #ffc800;
$color-warning: #ffc800;

$color-bg-hover: #efefef;

